@import "../Modules/_globals";
.active{
    border: none !important;
    background: none;
    font-weight: bold !important;
}
.card-title{
    font-size: 2.5em ;
    font-weight: bold;
    a{
        color: $text-color;
        text-decoration: none;
    }
    a:hover{
        color: $accent-brand-lighter;
    }
}
.tabbar-main{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}
.list-tag__main{
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin-bottom: 1em;

    li{
        font-size: 0.8rem;
        margin: 0 0.2em 0 0;
        border: 1px solid transparent;
        color: $syntax-comment-color;
        padding: 0.3em;
        cursor: pointer;
        padding: 0.2em;
        border-radius: 0.5em;
    }

    li:hover{
        border-color: $syntax-comment-color;
        border-radius: 0.5em;
        background-color: rgba(141, 140, 140, 0.1);
        cursor: pointer;
    }
}

#posts-home {
    .card {
            img.card-img-top {
                height: 16.5rem;
                object-fit: cover;
                object-position: center;
            }
            h4 {
                font-size: 1.85rem;
            }
            .date {
                font-size: 0.8rem;
            }
        }
    
    :not(:first-child) {
        img.card-img-top {
            display: none;
        }
    }
} 

ul {
    li{
        button{
            background-color: transparent !important;
        }
        button:hover{
            background-color: white !important;
            color: #3B49DF !important;
        }
    }
}